timezone: Europe/Budapest
encoding: UTF-8
locale: hu

domain: keszeitheone.github.io       # if you want to force HTTPS, specify the domain without the http at the start, e.g. example.com
url: https://keszeitheone.github.io  # the base hostname and protocol for your site, e.g. http://example.com
title: Keszei Blog
#description: Keszei Blog

theme: jekyll-theme-so-simple
read_time: true
words_per_minute: 200
date_format: "%Y-%m-%d"
paginate: 10  # amount of posts to show per page
paginate_path: /page:num/
google_analytics: G-CNG97X4FM1
disqus:
  shortname: keszeiblog

# Build settings
permalink: /:categories/:title/
markdown: kramdown
feed:
  path: atom.xml

collections:
  authors:
    output: true
  text:
    output: true
  navigation:
    output: true

defaults:
  - scope:
      path: ""
      type: "authors"
    values:
      layout: "author"
  - scope:
      path: "_posts"
      type: posts
    values:
      layout: post
      share: true
  - scope:
      path: ""
    values:
      layout: "base"

plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-paginate

exclude:
  - src

jekyll_admin:
  homepage: "drafts"

# Footer Links
footer_links:
  - title: Feed
    url: atom.xml
    icon: fas fa-rss-square
