$azure: #0778f7;
$azure-ligth: #1A82F6;
$azure-ligther: #4A99F2;
$azure-dark: #025ABD;
$azure-darker: #02438C;

$orange: #FF5900;
$orange-ligth: #FF823F;
$orange-dark: #D74B00;

$supernova: #FFC600;
$supernova-ligth: #FFD43F;
$supernova-dark: #D7A700;

$missingmom: #F1EFE9;
$color-green: #BECEB0;
$swirly-sky-blue: #34857F;
$brown: #B0A48A;

$body-bg: $missingmom;

$primary: $color-green;
