.current {
	color: $orange-dark;
}

.container {
	background-color: $white;
}

.blog-header {
	background-color: $swirly-sky-blue;
	
	a {
		text-decoration: none;

		h1 {
			color: $missingmom;
		}
	}

}

@import "posts";
