<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>

    <div class="container blog-header text-center pb-3 pt-3">
      <a href="/">
        <h1>Keszei Blog</h1>
      </a>
    </div>
    <div class="container p-4">
      {% include navigation.html %}
      <div class="p-md-4 pb-4 pt-4">
        {{ content }}
      </div>
    </div>
  </body>
</html>
