@import "skins/dark";

$primary: $primary-color;
$success: $success-color;
$warning: $warning-color;
$danger: $danger-color;
$info: $info-color;

$body-bg: $background-color;
$body-color: $text-color;
